.our_services {
   padding: 100px 10px;
}

.shell {
   background-color: #FFFFFF;
}

.Hosting {
   display: flex;
   flex-wrap: wrap;

}

@media (max-width:992.98px) {
   .our_services {
      padding: 70px 10px;
   }

}

@media (max-width:676.98px) {
   .our_services {
      padding: 50px 10px;
   }
}

@media (max-width:480.98px) {
   .our_services {
      padding: 30px 10px;
   }
}